:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app-container {
  border: 2px solid black;
  height: 90vh;
  width: 60vw;
  margin: auto;
}

#comments-list {
  padding-bottom: 1px;
}

#new-comment-form {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

#new-comment-window {
  background-color: white;
  position: fixed;
  height: 40%;
  width: 50%;
  box-shadow: 0 0 10px 10px #ddd;
}

#header-container {
  border: 2px solid purple;
  height: 12%;
}

#login-display {
  text-align: left;
  position: absolute;
  margin: 5px 1%;
  font-weight: lighter;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15%;
  font-size: 1.2rem;
  margin: 10px;
}

#navbar-container {
  border: 2px solid blue;
  height: 8%;
}

#new-comment {
  height: 30%;
  font-size: 1rem;
  padding: 30px;
}

#new-comment-form {
  height: 100%;
}

#post-comment-button {
  width: 50%;
  margin: 8% auto 2%;
  font-size: 1rem;
  padding: 3%
}

#post-comment-success-message {
  margin: 50px auto;
  font-size: 1.2rem;
}

#recent-articles-header {
  margin: 2% 5%;
  text-align: left;
  border-bottom: 2px solid black;
}

#results {
  height: 60vh;
}

#searchbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchbar * {
  margin: 0 5px;
  font-size: 1.2rem;
}

#searchbar-container {
  /* border: 2px solid green; */
  height: 10%;
}

#strapline {
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 0;
}

#topic-filter-dropdown {
  padding: 5px;
}

#welcome-header {
  margin-bottom: 0;
  margin-top: 10px;
}

.add-comment-button {
  width: 50%;
}

.article-body {
  grid-column: span 2;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  height: 60%;
  text-align: left;
  padding: 5%;
  padding-top: 0;
  margin: 5%;
  margin-top: 0;
  overflow: auto;
}

.article-img {
  grid-row: span 2;
  height: 100%;
  margin: auto;
  margin-right: 0;
}

.article-preview {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 5%;
  border: 2px solid black;
}

.article-preview * {
  text-align: left;
  margin: 0;
  padding: 10px;
  
}

.article-title {
  grid-column: span 2;
}

.articles-header {
  text-transform: capitalize;
  margin: 2% 5%;
  text-align: left;
  border-bottom: 2px solid black;
}

.comment-author {
  font-style: italic;
}

.comment-card {
  background-color: white;
  margin: 5%;
  padding: 0 5%;
  border: 2px solid black;
  text-align: left;
  font-size: 0.9rem;
}

.comments-dropdown {
  grid-column: span 2;
  height: 10%;
}

.close-window-button {
  background-color: red;
  color: white;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 0;
}

.downvoted {
  background-color: rgba(255, 0, 0, 0.537);
}

.error-message {
  color: red;
  margin: 0 auto;
}

.loading-screen {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: red;
}

.page-content {
  /* border: 2px solid red; */
  height: 60vh;
  overflow: auto;
}

.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  border-top: 2px solid black;
}

.page-nav button {
  height: 50%;
  margin: 0 20px;
  width: 30px;
}

.preview-img {
  height: 100px;
  grid-row: span 2;
}

.preview-title {
  font-weight: bold;
}

.preview-author {
  font-style: italic;
}

.results-list {
  height: 80%;
  overflow: auto;
  margin-top: 0;
}

.show-comments-button {
  width: 40%;
  font-size: 1rem;
  padding: 10px;
}

.upvoted {
  background-color: rgba(0, 128, 0, 0.545);
}

.vote-bar {
  padding: 0 5% 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.vote-bar button {
  margin: 0 20px;
  width: 30px;
}

.vote-error {
  color: red;
  text-align: right;
  margin: 0 6.5%;
  font-size: 90%;
}

a {
  text-decoration: none;
  color: black
}

button {
  padding: 5px;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

@media only screen and (min-width: 1300px) {
  .article-preview {
    font-size: 1.2rem;
  }

  .preview-img {
    height: 150px;
  }

}

@media only screen and (max-width: 1000px) {
  #searchbar * {
    margin: 0 5px;
    font-size: 0.9rem;
  }

  .page-nav {
    font-size: 0.7rem;
  }

  .page-nav button {
    width: 30px;
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 700px) {
  #welcome-header, #strapline {
    font-size: 100%;
  }

  .article-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .article-img {
    grid-row-start: 2;
    grid-column-start: span 2;
    width: 100%
  }
  
  .article-preview {
    font-size: 0.7rem;
  }

  .comment-card {
    font-size: 0.8rem;
  }

  .preview-img {
    height: 80px;
  }

  .show-comments-button {
    font-size: 0.8rem;
  }

  .vote-bar {
    justify-content: center;
  }

}

@media only screen and (max-width: 500px) {
  #searchbar * {
    font-size: 0.7rem;
  }
  
  #strapline {
    font-size: 85%;
  }

  .article-author, .article-date {
    font-size: 0.6rem;
  }
  
  .article-preview {
    font-size: 0.5rem;
  }

  .comment-card {
    font-size: 0.7rem;
  }

  .page-content {
    font-size: 0.8rem;
  }

  .page-nav {
    font-size: 0.5rem;
  }

  .page-nav button {
    margin: 0 10px;
    width: 20px;
    font-size: 0.5rem;
  }

  .preview-img {
    height: 50px;
  }

  .show-comments-button {
    width: 60%;
    font-size: 0.6rem;
  }

}

@media only screen and (max-width: 350px) {
  #navbar {
    font-size: 0.8rem;
  }

  #searchbar {
    flex-wrap: wrap;
  }
  
  #searchbar * {
    margin-top: 5px;
    font-size: 0.4rem;
  }

  #strapline {
    font-size: 60%;
  }

  .article-author, .article-date {
    font-size: 0.4rem;
  }
  
  .article-preview {
    font-size: 0.3rem;
  }

  .article-container {
    font-size: 0.6rem;
  }

  .comment-card {
    font-size: 0.5rem;
  }

  .page-nav {
    font-size: 0.4rem;
  }

  .page-nav button {
    margin: 0 5px;
    width: 20px;
    font-size: 0.4rem;
  }

  .preview-img {
    height: 40px;
  }

  .show-comments-button {
    font-size: 0.4rem;
  }

}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: red;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}