:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  max-height: 100vh;
  /* overflow: hidden; */
}

#root {
  padding: 0;
  margin: 0;
}

#app-container {
  width: 100vw;
  height: 100%;
}

/* ------------------ NAVBAR ------------------- */
#logo-img {
  height: 2.5rem;
  margin-right: 1rem;
  /* position: relative;
  top: 0.5rem; */
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px red solid;
  background-color: #eb1c24;
  /* background-color: #b80000; */
  margin: 0;
}

#navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 10rem;
  font-size: 1rem;
  font-weight: bold;
}

/* --------------- HEADER ------------------- */
#login-display {
  text-align: left;
  position: absolute;
  margin: 0 2rem;
  font-weight: lighter;
}

#user-icon {
  margin-right: 0.8rem;
}

#welcome-header {
  margin: 1rem;
}

.order-arrow {
  position: relative;
  top: 0.5rem;
}


/* ------------- ARTICLE PREVIEW ----------------- */

.article-preview {
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 4rem 1fr 1fr;
  border: 2px solid black;
  color: black;
  text-align: left;
  padding: 1rem;
  height: 10rem;
}

.nav-link {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.preview-author {
  font-style: italic;
}

.preview-img {
  /* height: 100px; */
  height: 100%;
  width: 100%;
  object-fit: cover;
  grid-row: span 3;
  max-height: 10rem;
}

.preview-title {
  grid-column: span 2;
  font-weight: bold;
  padding-right: 1rem;
  margin: 0;
}

.preview-votes {
  grid-row: 3;
}

.preview-comments {
  grid-row: 3;
}

/* -------------- RESULTS LIST --------------- */

.articles-header {
  margin: 0;
}

.articles-header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 2rem;
  border-bottom: 2px solid black;
}

.results-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin: 2rem;
  height: 50vh;
  overflow: auto;
}

#sort-options {
  margin: 1rem 0;
  display: flex;
  align-items: baseline;
}

#sort-options * {
  margin: 0 0.5rem;
  font-size: 1.2rem;
  padding-bottom: 5px;
}


/* --------------- SLIDER ---------------------- */
 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 3px;
  left: -15px;
  right: 0;
  bottom: -6px;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

 .slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: red;
}

input:checked+.slider:before {
  -webkit-transform: translateX(30px);
  -ms-transform: translateX(30px);
  transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ---------------- GENERAL ELEMENTS ----------------- */

body {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

ul {
  padding-left: 0;
}

/* ------------------- MEDIA QUERIES ------------------ */

@media screen and (max-width: 900px) {
  .results-list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 900px) {
  #navbar li {
    margin: 1rem 5rem;
  }
}

@media screen and (max-width: 500px) {
  #navbar li {
    margin: 1rem 2rem;
  }
}

@media screen and (max-width: 300px) {
  #navbar li {
    margin: 1rem 1rem;
    font-size: 0.8rem;
  }
}