:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app-container {
  border: 2px solid black;
  height: 90vh;
  width: 60vw;
  margin: auto;
}

#comments-list {
  padding-bottom: 1px;
}

#header-container {
  border: 2px solid purple;
  height: 10%;
}

#home-page {
  height: 65%;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15%;
  font-size: 1.2rem;
  margin: 10px;
}

#navbar-container {
  border: 2px solid blue;
  height: 8%;
}

#recent-articles-header {
  margin: 2% 5%;
  text-align: left;
  border-bottom: 2px solid black;
}

#searchbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchbar * {
  margin: 0 5px;
  font-size: 1.2rem;
}

#searchbar-container {
  /* border: 2px solid green; */
  height: 10%;
}

#strapline {
  font-weight: normal;
  font-size: 1.2rem;
  margin-top: 0;
}

#topic-filter-dropdown {
  padding: 5px;
}

#welcome-header {
  margin-bottom: 0;
  margin-top: 10px;
}

.article-body {
  grid-column: span 2;
}

.article-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  height: 60%;
  text-align: left;
  padding: 5%;
  margin: 5%;
}

.article-img {
  grid-row: span 2;
  height: 100%;
  margin: auto;
}

.article-preview {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  margin: 5%;
  border: 2px solid black;
}

.article-preview * {
  text-align: left;
  margin: 0;
  padding: 10px;
  
}

.article-title {
  grid-column: span 2;
}

.comment-author {
  font-style: italic;
}

.comment-card {
  background-color: white;
  margin: 5%;
  padding: 0 5%;
  border: 2px solid black;
  text-align: left;
}

.comments-dropdown {
  grid-column: span 2;
  height: 10%;
}

.loading-screen {
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: red;
}

.page-content {
  /* border: 2px solid red; */
  height: 80%;
  overflow: auto;
}

.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
  border-top: 2px solid black;
}

.page-nav button {
  height: 50%;
  margin: 0 20px;
  width: 30px;
}

.preview-img {
  height: 100px;
  grid-row: span 2;
}

.preview-title {
  font-weight: bold;
}

.preview-author {
  font-style: italic;
}

.results-list {
  height: 90%;
  overflow: auto;
  margin-top: 0;
}

.show-comments-button {
  width: 40%;
  font-size: 1rem;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black
}

button {
  padding: 5px;
}

li {
  list-style: none;
}

ul {
  padding-left: 0;
}

@media only screen and (min-width: 1300px) {
  .article-preview {
    font-size: 1.2rem;
  }

  .preview-img {
    height: 150px;
  }

}

@media only screen and (max-width: 700px) {
  #welcome-header, #strapline {
    font-size: 100%;
  }
  
  .article-preview {
    font-size: 0.7rem;
  }

  .preview-img {
    height: 80px;
  }

}

@media only screen and (max-width: 500px) {
  #searchbar * {
    font-size: 0.7rem;
  }
  
  #strapline {
    font-size: 85%;
  }
  
  .article-preview {
    font-size: 0.5rem;
  }

  .preview-img {
    height: 50px;
  }

}

@media only screen and (max-width: 350px) {
  #navbar {
    font-size: 0.8rem;
  }
  
  #searchbar * {
    font-size: 0.4rem;
  }

  #strapline {
    font-size: 60%;
  }
  
  .article-preview {
    font-size: 0.3rem;
  }

  .preview-img {
    height: 40px;
  }

}